<a href="https://colab.research.google.com/github/tejpal123456789/Language-Detection-SoC-Resources/blob/main/language_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas as pd
import tensorflow as tf
 
!git clone https://github.com/suvaansh/Machine-Translation-English-to-Hindi-.git

fatal: destination path 'Machine-Translation-English-to-Hindi-' already exists and is not an empty directory.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Natural language processing dataset/dataset.csv')
data.head()

   Unnamed: 0                            languages language_type  label
0           0  These questions are easy to answer.       english       0
1           1  They are proud of their clever son.       english       0
2           2  They brought trouble on themselves.       english       0
3           3  This is a good newspaper, isn't it?       english       0
4           4  To make matters worse, he fell ill.       english       0

In [ ]:
import string

Cleaning of the whole data

In [ ]:
def clean_text(doc):
  tokens = doc.split()
  table = str.maketrans('', '', string.punctuation)
  tokens = [w.translate(table) for w in tokens]
  tokens = [word.lower() for word in tokens]
  sentence=' '.join(tokens)
  return sentence

In [ ]:
x='i am  ! tejpal kumawat/....'
y=clean_text(x)
print(y)

i am  tejpal kumawat

In [ ]:
data['languages']=data['languages'].apply(lambda x: clean_text(x))
data.tail()

      Unnamed: 0  ... label
2468        2469  ...      2
2469        2470  ...      2
2470        2471  ...      2
2471        2472  ...      2
2472        2473  ...      2

[5 rows x 4 columns]

In [ ]:
# shuffle the DataFrame rows 
data1 = data.sample(frac = 1) 
  
# print the shuffled DataFrame 
print("\nShuffled DataFrame:") 
data1.head()

Shuffled DataFrame:

      Unnamed: 0  ... label
1113        1113  ...      1
2047        2048  ...      2
68            68  ...      0
1699        1699  ...      1
2384        2385  ...      2

[5 rows x 4 columns]

In [ ]:
data1.columns

Index(['Unnamed: 0', 'languages', 'language_type', 'label '], dtype='object')

In [ ]:
x=data1['languages']
y=data1['label ']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer(5000)
x_trained=cv.fit_transform(x_train).toarray()

print(x_trained.shape)
print(y_train.shape)



x_tested=cv.transform(x_test).toarray()
print(x_tested.shape)

(1978, 2065)
(1978,)
(495, 2065)

In [ ]:

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(x_trained, y_train)

y_pred=model.predict(x_tested)
from sklearn.metrics import accuracy_score,confusion_matrix
y_pred=model.predict(x_tested)
print('accuracy of the model is {}'.format(accuracy_score(y_test,y_pred)))
print('Confusion matrix of the model is {}'.format(confusion_matrix(y_test,y_pred)))

accuracy of the model is 1.0
Confusion matrix of the model is [[160   0   0]
 [  0 205   0]
 [  0   0 130]]

In [ ]:
test='my name is tejpal '
test_cleaned=clean_text(test)

vector=cv.transform([test]).toarray()
prediction=model.predict(vector)
if prediction[0]==0:
    print('English')
elif prediction[0]==1:
    print('Hindi')

else:
    print('french')

English

In [ ]:
!pip install easyocr
    
import matplotlib.pyplot as plt
import cv2
import easyocr
def prediction_from_image(input):
    
    reader = easyocr.Reader(['en'])
    
    output = reader.readtext(input,detail=0)

    sentence=' '.join(output)
    vector=cv.transform([sentence]).toarray()
    prediction=model.predict(vector)
    if prediction[0]==0:
     print('English')
    elif prediction[0]==1:
      print('Hindi')

    else:
      print('french')

    return 

prediction_from_image('/content/drive/MyDrive/Natural language processing dataset/download (4).jpg')

Requirement already satisfied: easyocr in /usr/local/lib/python3.7/dist-packages (1.3.2)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from easyocr) (3.13)
Requirement already satisfied: torchvision>=0.5 in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.10.0+cu102)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.4.1)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.16.2)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from easyocr) (7.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.19.5)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (from easyocr) (4.1.2.30)
Requirement already satisfied: python-bidi in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.4.2)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.9.0+cu102)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (2.5.1)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (1.1.1)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (3.2.2)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-bidi->easyocr) (1.15.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch->easyocr) (3.7.4.3)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.0->scikit-image->easyocr) (4.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (2.4.7)

CUDA not available - defaulting to CPU. Note: This module is much faster with a GPU.

English